@import "styles/variables"

.advantages
  padding: $padding--lg
  background: $white--t

  &__topTitle
    text-align: center
    color: $white
    font-size: $font--xl

  &Item
    color: $black

    &__title
      font-weight: bold

    &__subtitle
      font-size: $font--sm

    &__text
      font-size: $font--sm

