@import "styles/variables"

.chat
  height: 100%
  position: relative
  padding: 0 $padding $padding--lg 0

  &__hr
    margin: -1px 0 $padding 0

  &__items
    padding: $padding 0

  &__form
    position: absolute
    left: 0
    right: $padding
    bottom: $padding

  &Item
    margin-bottom: $padding

    &--right
      .chatItem__body
        text-align: right
        float: right

      .chatItem__text
        background: $blue-light

    &__body
      max-width: 90%

    &__head
      margin-bottom: 0.2rem
      font-size: $font--xs

    &__date
      padding-left: $padding--sm

    &__text
      border-radius: 3px
      padding: $padding--sm
      background: $grey-lighter
      font-size: $font--sm

    &__image
      overflow: hidden
      border-radius: 100%

  &Head
    padding: $padding 0

    &__stats
      font-size: $font--sm
      display: inline-block
      padding: 0.75em 0 0 0

    &__buttons
      .button
        margin-right: $padding--sm