@import "styles/v2/base/variables"
@import "styles/v2/base/mixins"

.chat
  position: absolute
  top: 51px
  left: 25%
  right: 0
  bottom: 0
  margin-left: 25%
  padding: $gap

  +until($desktop)
    top: 101px
    left: 0
    margin-left: 0

  &__hr
    margin: -1px 0 $gap 0

  &__itemsWrap
    position: absolute
    overflow: auto
    top: 95px
    bottom: 157px
    right: $gap
    left: $gap
    padding-top: $gap

    +until($desktop)
      top: 160px

  &__items
    padding: $gap $gap--lg $gap 0

  &__form
    position: absolute
    left: $gap
    right: $gap
    bottom: $gap


  &Item
    margin-bottom: $gap

    &--right
      &:after
        content: ""
        display: table
        clear: both

      .chatItem__body
        text-align: right
        float: right

      .chatItem__text
        background: $blue--lighter

    &__body
      max-width: 90%

    &__head
      margin-bottom: 0.4rem
      font-size: $font--sm

    &__name
      font-weight: 500

    &__date
      padding-left: $gap--sm

    &__text
      border-radius: 3px
      padding: $gap
      background: $grey--lighter

    &__image
      overflow: hidden
      border-radius: 100%