@import "styles/variables"

.projects
  height: 100vh
  background: $purple
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.11)

  &__add
    text-align: center
    padding: $padding 0

  &Item
    color: $white--t2
    position: relative
    padding: $padding
    cursor: pointer
    border-top: 1px solid rgba(255,255,255,0.05)
    border-bottom: 1px solid rgba(0,0,0,0.05)
    transition: .2s ease-in-out 0s

    &:hover, &--active
      color: $white
      background: $purple--dark

    &__activeIcon
      position: absolute
      right: 5px
      top: 50%
      margin-top: -12px

    &__text
      font-size: $font--xs

    &__status
      font-size: $font--xs

