@import "styles/bulma/utilities/initial-variables"

$container-width: 1100px !default
$header-width: 400px !default

$padding: 1em !default
$padding--sm: 0.5em !default
$padding--lg: 1.5em !default

$font: 1rem
$font--xxl: 2.5rem
$font--xl: 1.7rem
$font--lg: 1.3rem
$font--sm: 0.9rem
$font--xs: 0.6rem

$primary: #1565C0
$black: #272a33

$white--t: transparentize($white, 0.1)
$black--t: transparentize($black, 0.1)

$card-shadow: 2px 2px 5px rgba(39, 42, 51, 0.1)
$bg-color: #f7f7f7
