@import "styles/v2/base/_all"
@import "styles/v2/elements/_all"

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500')

*
  outline: none !important
  box-sizing: inherit
  font-family: inherit

  &:before,
  &:after
    box-sizing: inherit

html, body
  background: $grey--light
  font-size: 14px
  font-family: "Roboto", sans-serif
  height: 100%
  box-sizing: border-box

a
  text-decoration: none

p
  margin: 0

hr
  border: none
  border-bottom: 1px solid $grey--light

#app
  height: 100%

.page
  &Root
    position: relative
    display: flex
    flex-direction: column
    height: 100%
    max-width: 1500px

  &Nav
    position: fixed
    left: 0
    right: 0
    z-index: 9999

  &Content
    padding-top: 51px
    background: $white
    flex-grow: 1

    &--withFixedLeftContent
      position: relative
      padding-left: 25%


  &FixedLeftContent
    position: fixed
    top: 50px
    bottom: 0
    width: 25%
    max-width: 375px
    z-index: 9999


.is-pulled-right
  float: right

.is-fullwidth
  width: 100%

