@import "styles/variables"

.team
  padding: $padding--lg
  background: $black

  &__topTitle
    text-align: center
    color: $white
    font-size: $font--xl

  &Item
    &__title
      font-weight: bold

    &__subtitle
      font-size: $font--sm

    &__text
      font-size: $font--sm

