@import "styles/variables"

.history
  height: 100%
  padding: $padding 0

  &Item
    margin-bottom: $padding

    &__head
      color: $white
      background: $red
      position: relative
      padding: $padding--sm

    &__date
      font-size: $font--xs

    &__notices
      padding: $padding--sm

      &Item
        font-size: $font--xs

        .icon
          font-size: 0.5rem