@import "styles/v2/base/variables"

.nav
  &__left
    padding: 0 $gap--sm
    background-color: $purple--dark

  &__right
    padding: 0 $gap
    background-color: $white
    border-bottom: 1px solid $grey--light
