@import "styles/v2/base/variables"

.nav
  max-width: 1500px

  &__left
    display: inline-block
    width: 25%
    padding: 0 $gap--sm
    background-color: $purple--dark

  &__right
    display: inline-block
    width: 75%
    padding: 0 $gap
    background-color: $white
    border-bottom: 1px solid $grey
